.table {
    width: 70%;
    --bs-table-bg: transparent;
    backdrop-filter: blur(20px);
    margin: 10em auto auto auto;
    --bs-table-color: white;
    --bs-table-hover-color: white;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.519);
    font-size: 1em;
    padding: 30px;
    border-radius: 30px !important;
}

form{
    backdrop-filter: blur(10px);
    width: 50%;
    padding: 50px;
    border-radius: 30px;
}

